.container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 0;
  color: #fff;
}
.title span {
  background: radial-gradient(
    circle at 50% -20.71%,
    #aec4fe 0,
    #6c90d8 50%,
    #0060b3 100%
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: movimientoGradiente 5s ease infinite;
}

@keyframes movimientoGradiente {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.state-bar {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
.reset {
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #1f3540;
  font-size: 20px;
  color: #60d0ee;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.reset:hover {
  font-size: 22px;
  background: #375e72;
}

.board {
  flex-wrap: wrap;
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .board {
    height: 75vw;
    width: 75vw;
  }
  .reset {
    font-size: 22px;
  }
}

@media (max-width: 360px) {
  .reset {
    width: 75vw;
  }
}
